/* Базовые стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes" , sans-serif;
    font-size: 14px;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
}

.service__title {
    font-size: 28px;
    border-left: #41F6D7 solid 5px;
    padding-left: 10px;
    margin-top: 20px;
}

.header__icon, .header__link {
    background-color: #FF3E79;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__icon--left,
.header__divider--left,
.header__logo--left {
    margin-right: 8px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__divider {
    display: none;
}

.header__nav {
    padding-left: 20px;
    margin-top: 5px;
}

.header__hamburger {
    padding-right: 10px;
}

.service {
    display: flex;
    justify-content: space-between;
}

.service__actions {
    display: none;
    font-size: 16px;
    font-weight: 500;
}

.header__menu {
    display: none; /* Скрыто на мобильных */
    list-style: none;
}

.header__menu--hidden {
    display: none; /* Скрыто на мобильных */
    list-style: none;
    align-items: center;
}

.scroll-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #7E7E82;
}

.scroll-nav__item:hover {
    border: #41F6D7 solid 2px;
    border-radius: 5px;
}

.header__button {
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FF3E79;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-nav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    margin-left: 10px;
}

.scroll-nav__item {
    padding: 5px 10px;
}

.scroll-nav__separator {
    display: none;
}

.header__link {
    background-color: #FF3E79;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

[src="assets/divider.svg"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Основной контент */
.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.about__more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.about__paragraph--tablet,
.about__paragraph--desktop {
    display: none;
    list-style: none;
}

.about__expand {
    border: none;
    background: none;
}

/* Планшетная версия */
@media (min-width: 768px) {
    .header__button {
        display: none;
    }

    .header__menu--hidden {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .about {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header__hamburger {
        display: none;
    }

    .header__divider {
        display: inline-block;
    }

    .about__paragraph--tablet {
        display: flex;
        row-gap: 30px;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
    }

    .about__text {
        padding-right: 44px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .content__image img {
        width: 360px;
        height: 208px;
        border-radius: 3%;
        margin-right: 20px;
    }

    .header__icons {
        column-gap: 10px;
    }
}

/* Десктопная версия */
@media (min-width: 1120px) {
    .page {
        margin-top: 20px;
    }

    .service__title {
        padding-left: 30px;
    }

    .page .content,
    .page .scroll-nav {
        padding-left: 20px;
    }

    .scroll-nav {
        overflow-x: unset;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 30px;

    }

    .scroll-nav__item {
        padding: 10px 10px;
    }

    .scroll-nav__separator {
        display: flex;
        width: 100%;
    }

    .about__paragraph--tablet {
        display: none;
    }

    .about__paragraph--desktop {
        display: flex;
        margin-top: 20px;
    }

    .content__image img {
        width: 531.35px;
        height: 307px;
        border-radius: 1%;
        margin-right: 30px;
    }

    .header {
        display: none;
    }

    .content {
        justify-content: center;
    }

    .service__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

    }

    .service__button {
        background-color: #FF3E79;
        border: none;
        border-radius: 80%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

    }
    .service__actions label {
        margin-right: 10px;
    }


    .about__more {
        margin-bottom: 80px;
    }

    .about__text {
        padding-right: 20px;
    }
}
